<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>SaveEditClient</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Good Logo 40x40</string>
				<string>Good Logo 29x29</string>
				<string>Good Logo 120x120</string>
				<string>Good Logo 57x57</string>
				<string>icon</string>
				<string>Good Logo 57x57.png</string>
				<string>Good Logo 114x114.png</string>
				<string>Default.png</string>
				<string>Default@2x.png</string>
				<string>Good Logo 72x72.png</string>
				<string>Default-Portrait~ipad.png</string>
				<string>Default-Portrait@2x~ipad.png</string>
				<string>Default-Landscape~ipad.png</string>
				<string>Good Logo 144x144.png</string>
				<string>Default-Portrait~ipad.png</string>
				<string>Default-Landscape~ipad.png</string>
				<string>Default-Landscape~ipad.png</string>
				<string>Default-Landscape@2x~ipad.png</string>
				<string>Default-Portrait@2x~ipad.png</string>
				<string>Default-Portrait@2x~ipad.png</string>
				<string>Default.png</string>
				<string>Default@2x.png</string>
				<string>icon.png</string>
				<string>icon@2x.png</string>
				<string>icon-72.png</string>
				<string>icon-144.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>Good Logo 40x40</string>
				<string>Good Logo 50x50</string>
				<string>Good Logo 152x152</string>
				<string>Good Logo 76x76</string>
				<string>Good Logo 72x72</string>
				<string>icon-144</string>
				<string>icon</string>
				<string>Good Logo 57x57.png</string>
				<string>Good Logo 114x114.png</string>
				<string>Default.png</string>
				<string>Default@2x.png</string>
				<string>Good Logo 72x72.png</string>
				<string>Default-Portrait~ipad.png</string>
				<string>Default-Portrait@2x~ipad.png</string>
				<string>Default-Landscape~ipad.png</string>
				<string>Good Logo 144x144.png</string>
				<string>Default-Portrait~ipad.png</string>
				<string>Default-Landscape~ipad.png</string>
				<string>Default-Landscape~ipad.png</string>
				<string>Default-Landscape@2x~ipad.png</string>
				<string>Default-Portrait@2x~ipad.png</string>
				<string>Default-Portrait@2x~ipad.png</string>
				<string>Default.png</string>
				<string>Default@2x.png</string>
				<string>icon.png</string>
				<string>icon@2x.png</string>
				<string>icon-72.png</string>
				<string>icon-144.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<true/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>com.good.gd.example.appkinetics.saveeditclient</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>com.good.gd.example.appkinetics.saveeditclient</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.good.gd.example.appkinetics.saveeditclient</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.good.gd.example.appkinetics.saveeditclient.sc2</string>
				<string>com.good.gd.example.appkinetics.saveeditclient.sc</string>
				<string>com.good.gd.discovery</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>5.0</string>
	<key>GDApplicationID</key>
	<string>com.good.gd.example.appkinetics.saveeditclient</string>
	<key>GDApplicationVersion</key>
	<string>1.0.0.0</string>
	<key>GDConsoleLogger</key>
	<string>GDFilterNone</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchImageFile</key>
	<string>GDAssets.bundle/Splash</string>
	<key>UILaunchImageFile~ipad</key>
	<string>GDAssets.bundle/Splash</string>
	<key>UILaunchImages</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Splash</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Splash</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Splash</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
	</array>
	<key>UILaunchImages~ipad</key>
	<array>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Splash-Landscape</string>
			<key>UILaunchImageOrientation</key>
			<string>Landscape</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Splash-Portrait</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{768, 1024}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Splash</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 480}</string>
		</dict>
		<dict>
			<key>UILaunchImageMinimumOSVersion</key>
			<string>7.0</string>
			<key>UILaunchImageName</key>
			<string>Splash</string>
			<key>UILaunchImageOrientation</key>
			<string>Portrait</string>
			<key>UILaunchImageSize</key>
			<string>{320, 568}</string>
		</dict>
	</array>
	<key>UIMainStoryboardFile~ipad</key>
	<string>Main_iPad</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIMainStoryboardFile</key>
	<string>Main_iPhone</string>
</dict>
</plist>
